.header {
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  font-size: 5em;
  color: #C44536;
  background-color: #EFEFEF;
  padding: 30px;
}

.post {
  font-family: 'Montserrat', sans-serif;
  color: #EFEFEF;
  text-align: center;
  font-size: 1.5em;
  margin: 10px;
}

.link {
  cursor: pointer;
  color: #EFEFEF;
  font-family: 'Montserrat', sans-serif;
}

.description {
  font-family: 'Montserrat', sans-serif;
  color: #EFEFEF;
}

.box {
  background-color: #191919;
  box-shadow: 2px 2px black;
  padding: 30px;
  margin: 30px;
  min-height: 300px;
}