div {
  font-family: 'Montserrat', sans-serif;
  color: #EFEFEF;
}

.header {
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  font-size: 5em;
  color: #C44536;
  background-color: #EFEFEF;
  margin: 0;
  padding: 30px;
}

.clubs {
  color: white;
}

.clubs a {
  color: white;
  font-size: 2em;
}

.clubs a:hover {
  color: white;
  text-decoration: none;
}

.clubslink {
  color: white;
}

.clubscontainer {
  text-align: center;
  margin-top: 100px;
}